.single-movie-div{
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 230px;
    max-height: 480px;
    background-color: #161616;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 3px 3px rgb(10, 10, 10);
}

.single-movie-div:hover{
    background-color: #181818;
}

.rating-div{
    
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    
}

.details-btn{
    background-color: rgb(224, 191, 0);
    border: 1px solid black;
    color: black;
    height: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.details-btn:hover{
    background-color: gold;

}

.secondary-items{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

img{
    width: 200px;
    height: 420;
}

.movie-title, .rating-text{
    color: white;
}

.genre-text{
    color: rgb(128, 126, 126);
}

.genre-text,.rating-text{
    margin: 5px;
}

.movie-title{
    margin: 10px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.star-icon{
    color: rgb(221, 188, 0);
}