.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background-color: #303030;
    box-shadow: 5px 5px 8px black;
    padding-bottom: 30px;
    width: 600px;
    border-radius: 15px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    color: rgb(233, 198, 0);
}

.text{
    font-size: 48px;
    font-weight: 700;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 70;
    background-color: rgb(73, 73, 73);
    color: rgb(92, 92, 92);
    border-radius: 6px;
}

.icon{
    margin-left: 20px;
    margin-right: 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background-color: transparent;
    border: none;
    color: rgb(196, 196, 196);
    font-size: 20px;
    
}

.underline{
    width: 100px;
    background-color: gold;
    height: 4px;
    border-radius: 10px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.disabled-btn{
    color: rgb(121, 118, 118) !important;
    background: rgb(214, 213, 213) !important; 
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: black;
    background-color: gold;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.error-div{
    color: red;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    height: 20px;
  }