.search-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100vw;
    box-shadow: 0px 2px 5px black;
    background-color: rgb(20, 20, 20);;
}

.movies-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0);
    width: 80vw;
    min-height: 92%;
    height: fit-content;
    margin-top: 5px;
    margin: 5px auto;
    padding-top: 20px;
    gap: 15px;
}

.dialog-box-div{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content{
    max-width: 1050px;
    position: relative;
    min-height: 65vh;
    border-radius: 25px;
    padding: 30px;
    border: none;
    background-color: #161616;
    box-shadow: 8px 5px 5px rgb(10, 10, 10);
    color: white;
}

.search-input{
    width: 25vw;
    height: 31px;
    background: rgb(48, 48, 48);
    border: 1px solid black;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    color: wheat;
    margin-right: 2px;
}


.search-input::placeholder{
    color: rgb(156, 156, 156);
    font-weight: 800;
    
}

.search-input:focus{
    outline: none !important;
    border: 2px solid rgb(228, 194, 0);
    margin-right: 0px;
}

.search-btn{
    background-color: #ecc900;
    color: black;
    border: none;
    width: 50px;
    height: 35px;
    font-size: large;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
}
.search-btn:hover{
    background-color: gold;
}

.search-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
}

.add-movie-btn{
    position: absolute;
    left: 25px;
    width: 100px;
    height: 25px;
    background-color: #ecc900;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.add-movie-btn:hover, .logout-btn:hover{
    background-color: gold;
}

.logout-div{
    position: absolute;
    right: 30px;
    gap: 15px;
}

.logged-username{
    color: rgb(230, 230, 230);
    background-color: rgb(51, 51, 51);
    padding: 4px 4px 8px 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logout-btn{
    width: 100px;
    height: 31px;
    background-color: #ecc900;
    color: black;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 18;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}