.details-div{
    width: auto;
    display: flex;
    flex-direction: row;
    
}

.img-rating-div{
    display: flex;
    flex-direction: column;
}

/* .title-desc-cast-div{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.movie-details-img{
    width: 260px;
    height: 390px;
    border: 5px solid white;
}

.cancel-button{
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    border-radius: 100%;
}

.cancel-button::before, .cancel-button::after{
    position: absolute;
    display: inline-block;
    left: 15%;
    top: 48%;
    content: ' ';
    width: 70%;
    height: 3px;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}
.cancel-button:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
}
.cancel-button::before{
    transform: rotate(45deg);
}
.cancel-button::after{
    transform: rotate(-45deg);
}


.title-desc-cast-div{
    position: relative;
}

.details-title, .details-year, .details-genre, .details-desc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.details-year, .details-genre, .details-desc{
    color: rgb(177, 177, 177);
}

.details-desc{
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: auto;
    width: 700px;
}

.actors-div, .director-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 30px;
    align-items: center;
}




.user-rating-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 150px;
}

.imdbr{
    margin: auto;
    margin-top: 20px;
}

/*rating stars*/
.rating-stars{
    direction: rtl;
    position: absolute;
    unicode-bidi: bidi-override;
}

.r-star:hover, .r-star:hover ~ .r-star{
    color: blue;
}

.rate-movie-btn{
    background-color: #ecc900;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    cursor: pointer;

}

.rate-movie-btn:hover{
    background-color: gold;
}

.name-div{
    align-items: center;
    text-align: center;
    width: fit-content;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    
    background-color: #282828;
    color: white;
    cursor: pointer;
  }

  .name-div:hover{
    background-color: gold;
    color: black;
  }


/*--------------------------*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 30px;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005"; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: gold;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: rgb(255, 223, 39);  }

